*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, black, rgb(37, 37, 37));
    padding: 40px; 
    display: flex;
    justify-content: center;
    
}

section{
    height: 100%;
    width: auto; 
    background-color: white;
    border-radius: 14px;
}

.allReels{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    
}

.allReels::-webkit-scrollbar{
    display: none;
}

.reel{
height: 100%;
width: 100%;
position: relative;
display: flex;
justify-content: center;
scroll-snap-align: end;
scroll-snap-stop: always;
}

.reel video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:14px ;

}

.bottom{
    height: 15%;
    width: 100%;
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.bottom .user img{
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;

}

.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.user button{
    padding: 2px 10px;
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    color: white;
}

.user button:hover{
    background: white;
    color: black;
    cursor: pointer;
}


h4{
    color: white;
    font-size: 14px;
}

h3{
    color: white;
    font-size: 18px;
    
}

.right{
    position: absolute;
    right: 15px;;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1px;

}

.right h4{
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.223) ;
    pointer-events: none;
    
}

.right h6{
    color: white;
    font-size: 10px;
    margin-top: -5px;
    font-weight: bolder;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.573) ;
    pointer-events: none;
    
}

.ri-heart-fill{
    color: rgb(230, 1, 1);
}

.right div{
    height: 60px;
    width: 40px;
    cursor: pointer;
    
}